body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.container{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

